body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 93%);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width:400px ;
    margin-top: 25px;
}
h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    flex-direction: row;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}